# Minimal requirements for struct module and test
jax==0.6.2
jaxlib==0.6.2
typing-extensions
attrs
numpy
absl-py
chex
pytest
wrapt
optax
pytype
tensorflow
tensorflow_datasets
msgpack
portpicker
grain
array-record
tensorstore
aqtp
seqio
